/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%; /* Aumentar el ancho del contenedor */
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-x: auto; /* Agregar desplazamiento horizontal si es necesario */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilos de campos de entrada */
input[type="number"],
input[type="text"] {
  width: 90%; /* Ajustar el ancho de los campos de entrada */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px; /* Agregar espacio entre los campos */
}

/* Estilos de botón */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 10px; /* Agregar espacio entre el botón y los campos */
}

button[type="submit"]:hover {
  background-color: #45a049;
}