body {
    font-family: Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5WuSqv8WAJzfRGt1x2G3XUhEBx0dL3T1USJhiGU-7Wg&s');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff; /* Color del texto claro para contrastar con el fondo oscuro */
}

.container {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente negro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Sombra suave */
    padding: 20px;
    width: 400px;
    text-align: center;
}

h2 {
    color: #fff; /* Color de título claro */
}

label {
    display: block;
    margin-top: 10px;
    color: #fff; /* Color de texto claro para los labels */
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

#registroExitoso {
    display: none;
    background-color: rgba(76, 175, 80, 0.9); /* Fondo semitransparente verde */
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

#circuloImagen {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente negro */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

#circuloImagen img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
