* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/previews/010/405/790/non_2x/minimalist-and-modern-future-hexagon-abstract-geometric-white-and-gray-color-polygon-background-design-illustration-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
}

h2 {
  text-align: center;
  color: #333;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px; /* Aumentado el espacio entre grupos de campos */
}

.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-text:focus {
  outline: none;
  border-color: #007bff;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #0056b3;
}
