body {
    font-family: Arial, sans-serif;
}

.usuario-ficha {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.usuario-ficha img {
    max-width: 100%;
    height: auto;
}

.nombre {
    font-weight: bold;
    margin-bottom: 5px;
}

.correo {
    color: #888;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#bienvenida {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#menu-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#circulo-menu {
    width: 80px;
    height: 80px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
}

#circulo-menu img {
    width: 100%;
    height: auto;
}

#menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    width: 200px;
}

#menu.active {
    background-color: #34495e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-height: 400px;
}

#menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
    border-bottom: 1px solid #fff;
}

#menu.active a {
    opacity: 1;
}

#menu a:last-child {
    border-bottom: none;
}

#contenido {
    padding: 20px;
    text-align: center;
}

#contenido img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

#contenido p {
    margin-bottom: 10px;
}

/* Agrega estilos CSS personalizados aquí */
#contenido {
     margin: 20px;
}

.ficha-tecnica {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ficha-tecnica p {
margin: 0;
padding: 5px;
}
